@model UserDto
@{
}

@{
    ViewData["Title"] = "Register";
}
<div style="width:30%; margin:5vh auto" class="shadow-lg px-md-3 py-lg-5 rounded-3">
    <div class="w-full">
        <div class="text-center">
            <h1>Register</h1>
            <p>Please fill in the following form to register:</p>
        </div>
       
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li class="text-danger text-sm-center">@error.ErrorMessage</li>
            }
        </ul>
        <form method="post" class="w-full">
            <div>
                <label asp-for="firstname">firstname:</label>
                <input asp-for="firstname" class="form-control" />
                <span asp-validation-for="firstname" class="text-danger text-sm"></span>
            </div>
            <div>
                <label asp-for="lastname">lastname:</label>
                <input asp-for="lastname" class="form-control" />
                <span asp-validation-for="lastname" class="text-danger text-sm"></span>
            </div>
            <div>
                <label asp-for="email">email:</label>
                <input asp-for="email" class=" form-control" />
                <span asp-validation-for="email" class="text-danger text-sm"></span>
            </div>
            <div>
                <label asp-for="password">Password:</label>
                <input asp-for="password" type="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger text-sm"></span>
            </div>
            <button type="submit" class="btn form-control btn-primary mt-2">Register</button>
          
        </form>
        <div class="text-center pt-2">
            <small>already have an account? <span><a class="text-link" asp-area="" asp-controller="Auth" asp-action="Login">login</a></span></small>
        </div>
    </div>
</div>

